/* clearfix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clear {
  clear: both;
}
.visibility-hidden {
  visibility: hidden;
}
.hidden {
  display: none!important;
}
/* .expand-item {
  margin-top: 0;
  overflow: hidden;
  transition: 2s all;
}
.collapse-item {
  margin-top: -100%;
  overflow: hidden;
  transition: 2s all;
  visibility: hidden;
  height: 100%;
} */
:root {

    /* colors */
    --clr-accent-100: rgb(164, 181, 50);
    --clr-accent-400: rgb(229, 60, 45);
  
    --clr-primary-400: rgb(255, 255, 255);
  
    --clr-neutral-100: rgb(222, 220, 222);
    --clr-neutral-400: rgb(109, 110, 112);

    /* font-family */
    --ff-primary: "Be Vietnam Pro", sans-serif;
    
    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);

    /* font-weights */
    --fw-regular: 400;
    --fw-smemi-bold: 500;
    --fw-bold: 700;

    
    /* 1rem = 10px */
    font-size: 62.5%;
    /* font-sizes */
    --fs-100: 0.5rem;
    --fs-200: 1rem;
    --fs-300: 1.25rem;
    --fs-400: 1.8rem;
    --fs-600: 2.5rem;
    --fs-700: 3rem;
    --fs-900: 5rem;
  
    --fs-body: var(--fs-400);
    --fs-primary-heading: var(--fs-400);
    --fs-secondary-heading: var(--fs-400);
  }
  
  /* @media (min-width: 50em) {
  /* // https://piccalil.li/blog/a-modern-css-reset */
  
  
  /* Box sizing rules */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  /* Remove default margin */
  * {
    margin: 0;
    padding: 0;
    font: inherit;
    font-size: 1.6rem;
  }
  
  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role="list"],
  ol[role="list"],
  li {
    list-style: none;
  }
  
  /* Set core root defaults */
  html:focus-within {
    scroll-behavior: smooth;
  }
  
  html,
  body {
    position: relative;
    display: block;  
    min-height: 100vh !important;
   
  }
  
  /* Set core body defaults */
  body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
  }
  
  /* A elements that don't have a class get default styles */
  a:not([class]) {
    text-decoration-skip-ink: auto;
  }
  
  /* Make images easier to work with */
  img,
  picture,
  svg {
    max-width: 100%;
    display: block;
  }

  /* anchor tags reset */
  a {
    text-decoration: none;
    font-style: none;
    color: inherit;
  }

  /* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
      scroll-behavior: auto;
    }
  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

/* **************************************************************************** */
                                /* UTILITY CLASSES    */
/* **************************************************************************** */
  .accent-underline {
    border-bottom: 2px solid var(--clr-accent-400)
  }
    
  .text-primary-400 {
    color: var(--clr-primary-400);
  }
  .text-accent-400 {
    color: var(--clr-accent-400);
  }
  .text-accent-100 {
    color: var(--clr-accent-100);
  }
  .text-neutral-100 {
    color: var(--clr-neutral-100);
  }
  .text-neutral-400 {
    color: var(--clr-neutral-400);
  }
  
  .bg-primary-400 {
    background-color: var(--clr-primary-400);
  }
  .bg-accent-400 {
    background-color: var(--clr-accent-400);
  }
  .bg-accent-100 {
    background-color: var(--clr-accent-100);
  }
  .bg-neutral-100 {
    background-color: var(--clr-neutral-100);
  }
  .bg-neutral-400 {
    background-color: var(--clr-neutral-400);
  }
  
  .fw-bold {
    font-weight: var(--fw-bold);
  }
  .fw-semi-bold {
    font-weight: var(--fw-semi-bold);
  }
  .fw-regular {
    font-weight: var(--fw-regular);
  }
  
  .fs-primary-heading {
    font-size: var(--fs-primary-heading);
  }
  .fs-secondary-heading {
    font-size: var(--fs-secondary-heading);
  }

  .fs-400 {
    font-size: var(--fs-400);
  }
  .fs-600 {
    font-size: var(--fs-600);
  }
  .fs-700 {
    font-size: var(--fs-700);
  }
  .fs-900 {
    font-size: var(--fs-900);
  }
/* **************************************************************************** */
                                    /* LAYOUT   */
/* **************************************************************************** */
/* all layouts */
main {
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 400px;
}
.order-button {
    border: var(--clr-accent-400);
    background: var(--clr-accent-400);
    border-radius: 100px;
    padding: 1rem 2rem;
    letter-spacing: 0px;
    color: white;
    font-weight: 600;
    transition: background-color .4s;
    border: 1px solid var(--clr-accent-400);
}
.order-button:hover {
    background: white;
    color: var(--clr-accent-400);
    transition: background-color .4s;
}
.menu-order-button {
    min-height: 10px;
    padding: .5rem 1rem;
    font-size: 1rem;
    align-self: flex-end;
}

/* header */
#primary-header-container {
  display: flex;
  min-height: 80px;
  width: 100%;
  background: white;
  border-bottom: 1px solid var(--clr-neutral-100);
  box-shadow: 0 5px var(--clr-neutral-100);
  position: sticky;
  top: 0;
  z-index: 100;
}
#primary-header-logo-container {
  width: 25%;
  display: flex;
  align-items: center;
  padding: 0 2%;
}
.logo h4{
  font-size: var(--fs-700);
}
.logo:hover {
    color: var(--clr-accent-100);
}
#priumary-header-nav-container{
    width: 75%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#primary-header-nav-ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: clamp(1rem, 2vw, 2rem);
}
.link {
  font-size: var(--fs-400)
}
.link:hover {
    color: var(--clr-neutral-100);
}



@media screen and (max-width: 500px) {
  .logo h4 {
   font-size: var(--fs-400);
  }
  .link {
    font-size: var(--fs-300);
  }
  .order-button {
    font-size: var(--fs-300);
    padding: 0.5rem;
    border-radius: 15px;
  }
}
/* menu header */
#menu-header-container {
    min-height: 150px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
#menu-nav {
    display: flex;
    gap: 2rem;
}
.menu-nav-item:hover {
    color: var(--clr-accent-400);
    cursor: pointer;
}

/* menu group */
.menu-group-container {
    display: flex;
    flex-direction: column;

}

.menu-items-container-hero {
  padding: 30px 0;
  display: flex;
  gap: clamp(0.8rem, 1vw, 1.5rem);
  flex-wrap: wrap;
}
#menu-smoothies-container,
#menu-food-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}
.menu-item-container {
    min-height: 280px;
    width: 32.5%;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--clr-neutral-100);
    box-shadow: 5px 5px var(--clr-neutral-100);
}

@media (max-width: 875px) {
  .menu-item-container {
    width: 49%;
  }
}

@media screen and (max-width: 720px) {
  .menu-item-container {
    width: 100%;
  }
}
.i-hate-containers {
    display: flex;
    height: 100%;
}
.menu-item-img-container,
.menu-item-description-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu-item-description-container {
  /* width: 60%; */
}
.menu-item-title {
  font-size: clamp(1.9rem, 2.2vw, 2.5rem)
}
img {
    height: 70%;
    width: 100%;
}
.menu-item-title {
    line-height: 1.15;
}
.menu-item-title-container {
    min-height: 100px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    border: 1px solid var(--clr-neutral-400);
    box-shadow: 0px 5px solid var(--clr-neutral-100);
}
.menu-item-title-container h2 {
  color: var(--clr-neutral-400);
  width: 95%;
}
.menu-button-hero {
  background: transparent;
  border: 2px solid var(--clr-accent-400);
  color: var(--clr-accent-400);
  transition: all .3s linear;

  max-height: 55px;
}
.menu-button-hero:hover {
  transform: rotate(180deg);
  cursor: pointer;
}
.menu-button-hero img {
  filter: opacity(0.4) drop-shadow(0 0 0 var(--clr-accent-400));

  max-height: 50px;
}
/* Footer */
#primary-footer-background-container {
  min-height: 350px;
  background: rgb(0, 135, 153);
  margin-top: 50px;
  padding: 0 50px;
  position: absolute;
  bottom: 0;
}
#primary-footer-container {
  display: flex;
  min-height: 50px;
}
#footer-social-media-container,
#footer-logo-container {
  color: white;
  display: flex;
  align-items : center;
  width: 50%;
  min-height: 75px;
}
#footer-social-media-container {
  width: 20%;
}
.social-media-icon {
  padding: 5px;
  width: 100%;
}
#footer-logo-container {
  flex: 1;
  justify-content: flex-end;
}
#primary-footer-nav-container {
  min-height: 200px;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  color: white;
  display: flex;
  justify-content: center;
  width: 100%;
}
#primary-footer-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}
#primary-footer-nav ul {
  display: flex;
  flex-direction: column;
  width: 80%;
}
#footer-logo-container {
  width: 10%;
}
.footer-ul-item a:hover {
  color: var(--clr-accent-100);
}
#policies-container {
  color: white;
  min-height: 75px;
  display: flex;
  align-items: center;
}
#policies-ul {
  width: 60%;
  min-height: 50px;
  display: flex;
  align-items: center;
}
#policies-ul li {
  padding: 0px 10px;
}
#policies-ul a:hover {
  color: var(--clr-accent-100);
}
.policies-item:before {
  content:  "ãƒ»";
  margin-right: 10px;
  color: white;
}
